/* common style  */

body {
    font-family: "Open Sans", sans-serif;

}

main section {
    margin-top: 130px;
}

.text-primary {
    color: #FD6E0A;

}

.button-primary {
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: none;
    padding: 15px 30px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-description {
    text-align: center;
}

/* header style  */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

/* Nav related style  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    color: #474747;
}

/* Banner Style  */
.banner {

    display: flex;
    padding: 30px 30px 0px 200px;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner-grating {
    font-size: 45px;
    font-weight: 400;
    color: #474747;
    margin-bottom: 0;
}

.Banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

.banner-image {
    width: 500px;
}

/* Main sectio Satrt  */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section start  */
.about {
    margin-top: 100px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 100px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.about-info {
    text-align: center;
}

.about-info p {
    margin: 0;
}

/* what i do section start  */
.skil-container {
    display: flex;
    gap: 24px;
}

.skil {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skil-description {
    color: #757575;

}

/* my res{ume section style  */
.resume-colamn-container {
    display: flex;
    gap: 50px;
}

.resume-colamn-heading {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

.resueme-itme-instute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-top: 20px;
}

.resume-item-instute {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.resume-colamn-container hr {
    margin: 30px 0;
}

.downlood-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer style  */
footer {
    display: flex;
    background: #FFF8F3;
    margin-top: 130px;
    padding: 100px 200px;
    gap: 100px;
}

.footer-collam {
    width: 50%;
}

.social-links a {
    margin-right: 24px;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 30px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    background: #FFF;
    width: 100%;
}